<div class="accordion accordion-toggle-arrow" id="accordionExample2">
    <div id="collapseOne2" class="collapse show" data-parent="#accordionExample2">
        <div class="card-body">
            <div class="accordion accordion-toggle-arrow" id="accordionExample2">
                <div class="card" style="padding:10px;">
                    <div id="collapseOne2" class="collapse show" data-parent="#accordionExample2">
                        <div id="kt_datatable2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="kt_datatable2_length"><label>Show <select name="kt_datatable2_length" aria-controls="kt_datatable2" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="kt_datatable2_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="kt_datatable2"></label></div></div></div><div class="row">
                                <div class="col-sm-12">
                                    <div class="dataTables_scroll">
                                        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 150%;">
                                                <table class="table table-separate table-head-custom table-checkable dataTable no-footer" role="grid" style="margin-left: 0px; width: auto;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-sort="ascending" aria-label="STT: activate to sort column descending">STT</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 10vw;" aria-label="Tên bồn: activate to sort column ascending">Tên bồn</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="Thể tích: activate to sort column ascending">Thể tích</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="%: activate to sort column ascending">%</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="Tồn: activate to sort column ascending">Tồn</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="Bx: activate to sort column ascending">Bx</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="Ap: activate to sort column ascending">Ap</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="RS: activate to sort column ascending">RS</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="D: activate to sort column ascending">D</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw;" aria-label="KL: activate to sort column ascending">KL</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div style="width:100%; overflow:auto;">
                                            <div class="dataTables_scrollBody" style="position: relative;width: 150%;max-height: 50vh;">
                                                <table class="table table-striped table-separate table-head-custom table-checkable dataTable no-footer" id="kt_datatable2" role="grid" aria-describedby="kt_datatable2_info" style="width: auto;">
                                                    <thead>
                                                        <tr role="row" style="height: 0px;">
                                                            <th class="sorting_asc" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="STT: activate to sort column descending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">STT</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 10vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Tên bồn: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Tên bồn</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Thể tích: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Thể tích</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="%: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">%</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Tồn: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Tồn</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Bx: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Bx</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Ap: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Ap</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="RS: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">RS</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="D: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">D</div></th>
                                                            <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="KL: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">KL</div></th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">1</td>
                                                            <td style="text-align:left;">Mixer đnon trung phẩm số 4, 5-Non R5 (D8-4-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">2</td>
                                                            <td style="text-align:left;">Mixer đnon hạ phẩm số 6-Non R7 (D9-1-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">3</td>
                                                            <td style="text-align:left;">Mixer đnon trung phẩm số 4, 5-Non R5 (D8-4-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">4</td>
                                                            <td style="text-align:left;">Mixer đnon hạ phẩm số 6-Non R7 (D9-1-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">5</td>
                                                            <td style="text-align:left;">Mixer đnon trung phẩm số 4, 5-Non R5 (D8-4-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">6</td>
                                                            <td style="text-align:left;">Mixer đnon hạ phẩm số 6-Non R7 (D9-1-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">7</td>
                                                            <td style="text-align:left;">Mixer đnon trung phẩm số 4, 5-Non R5 (D8-4-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">8</td>
                                                            <td style="text-align:left;">Mixer đnon hạ phẩm số 6-Non R7 (D9-1-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                        </tr>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">9</td>
                                                            <td style="text-align:left;">Mixer đnon trung phẩm số 4, 5-Non R5 (D8-4-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                            <td>69</td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">10</td>
                                                            <td style="text-align:left;">Mixer đnon hạ phẩm số 6-Non R7 (D9-1-2)</td>
                                                            <td>33</td>
                                                            <td>2424</td>
                                                            <td>73</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                            <td>62</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="kt_datatable2_info" role="status" aria-live="polite">Showing 1 to 10 of 50 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="kt_datatable2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="kt_datatable2_previous"><a href="#" aria-controls="kt_datatable2" data-dt-idx="0" tabindex="0" class="page-link"><i class="ki ki-arrow-back"></i></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="kt_datatable2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item next" id="kt_datatable2_next"><a href="#" aria-controls="kt_datatable2" data-dt-idx="6" tabindex="0" class="page-link"><i class="ki ki-arrow-next"></i></a></li></ul></div></div></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--begin: Code-->

<div class="example-code mt-10">
    <div class="example-highlight">
    </div>
</div>
<!--end: Code-->