
@{
    Layout = "_Template2";
} 
@* Overflow for title, only exist horizontal scroll *@
@*<div style="overflow:auto; overflow-y:hidden;">
    <table>
        <thead></thead>
       
    </table>
    <table>
        <b
    </table>
</div>*@