
@{
    Layout = "_Template2";
}
<style>
    .dddd1 {
        width:500px;
        height:500px;
    }
    table{
        width:900px;
        height:900px;
    }
</style>
 Overflow for title, only support horizontal scroll 
<div class="dddd1" style="overflow-x: auto; border:2px solid black;">
    <table>
        <thead>
            <tr>
                <th>Alo</th>
                <th>Alo</th>
                <th>Alo</th>
                <th>Alo</th>
                <th>Alo</th>
            </tr>
        </thead>

    </table>
     Overflow for item, support vertical scroll 
    <div style="overflow-y: auto;">
        <table>
            <tbody>
                <tr>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
