
@{
    Layout = "_Template2";
}

<div class="accordion accordion-toggle-arrow" id="accordionExample2">
    <div id="collapseOne2" class="collapse show" data-parent="#accordionExample2">
        <div class="card" style="padding:10px;">
            <div id="kt_datatable2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="kt_datatable2_length"><label style="margin-left:1vw;">Show <select name="kt_datatable2_length" aria-controls="kt_datatable2" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="kt_datatable2_filter" class="dataTables_filter" style="margin-right:1vw;"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="kt_datatable2"></label></div></div></div><div class="row">
                    <div class="col-sm-12">
                        <div class="dataTables_scroll">
                            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 150%; display:block;">
                                    <table class="table table-striped table-separate table-head-custom table-checkable dataTable no-footer" role="grid" style="margin-left: 0px; width: auto;">
                                        <thead>
                                            <tr role="row">

                                                <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable2" rowspan="2" colspan="1" style="width: 2vw;" aria-label="Giờ: activate to sort column ascending">Giờ</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="2" colspan="1" style="width: 2vw;" aria-label="CaSx: activate to sort column ascending">CaSx</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="Magm: activate to sort column ascending">Magm</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="4" style="width: auto;" aria-label="Đường Aff: activate to sort column ascending">Đường Aff</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="3" style="width: auto;" aria-label="Mật Aff: activate to sort column ascending">Mật Aff</th>
                                            </tr>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="MABx: activate to sort column ascending">Bx</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="DABx: activate to sort column ascending">Bx</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="DAPol: activate to sort column ascending">Pol</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="DAAP: activate to sort column ascending">AP</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="Màu: activate to sort column ascending">Màu</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="AFFBx: activate to sort column ascending">Bx</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="AFFPol: activate to sort column ascending">Pol</th>
                                                <th class="sorting" tabindex="0" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw;" aria-label="AFFAP: activate to sort column ascending">AP</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div style="width:100%; overflow: auto;">
                                <div class="dataTables_scrollBody" style="position: relative;width: 150%;max-height: 50vh;">
                                    <table class="table table-striped table-separate table-head-custom table-checkable dataTable no-footer" id="kt_datatable2" role="grid" aria-describedby="kt_datatable2_info" style="width: auto;">
                                        <thead>
                                            <tr role="row" style="height: auto;">

                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 2vw; max-width:2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Giờ: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Giờ</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 2vw; max-width: 2vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="CaSx: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">CaSx</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 4vw; max-width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Magm: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Bx</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 4vw; max-width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="DABx: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Bx</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 4vw; max-width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="DAPol: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Pol</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 4vw; max-width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="DAPAP: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">AP</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 4vw; max-width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Màu: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Màu</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 4vw; max-width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="AFFBx: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Bx</div></th>
                                                <th class="sorting" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="min-width: 4vw; max-width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="AFFPol: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Pol</div></th>
                                                <th class="sorting_asc" aria-controls="kt_datatable2" rowspan="1" colspan="1" style="width: 4vw; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="AFFAP: activate to sort column ascending"><div class="dataTables_sizing" style="height: 0px; overflow: hidden;">AP</div></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr role="row" class="odd">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td>07:30</td>
                                                <td>A</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                                <td>90.20</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="kt_datatable2_info" role="status" aria-live="polite">Showing 1 to 10 of 50 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="kt_datatable2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="kt_datatable2_previous"><a href="#" aria-controls="kt_datatable2" data-dt-idx="0" tabindex="0" class="page-link"><i class="ki ki-arrow-back"></i></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="kt_datatable2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="kt_datatable2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item next" id="kt_datatable2_next"><a href="#" aria-controls="kt_datatable2" data-dt-idx="6" tabindex="0" class="page-link"><i class="ki ki-arrow-next"></i></a></li></ul></div></div></div>
            </div>

        </div>
    </div>
</div>