@{
    Layout = "_Template2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestChart</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="~/assets/js/Charts.js">

    </script>
</head>
<body>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="card card-custom gutter-b example example-compact">
                    <!--begin::Form-->
                    <form>
                        <div class="accordion accordion-toggle-arrow" id="accordionExample2">
                            <div class="card">
                                <div class="col-12 col-lg-12 col-sm-12 container row" style="margin-top:20px;">
                                    @* Simple pie chart *@
                                    <div class="col-6 col-lg-6 col-sm-12">
                                        <h4 style="text-align:center;">Biểu đồ tròn thành phẩm tháng 2/2021</h4>
                                        <div id="piechart" style="overflow: hidden;"></div>
                                    </div>
                                    <div class="col-6 col-lg-6 col-sm-12">
                                        <h4 style="text-align:center;">Biểu đồ sóng đường thô, đường sản xuất, đường đóng bao</h4>
                                        <div id="chart_interval" style="overflow:hidden;"></div>
                                    </div>
                                    <div class="col-12 col-lg-12 col-sm-12" style="overflow:auto; border:2px solid black; margin-top:2vh;">
                                        <h4 style="text-align:center; margin-top:20px; margin-bottom:20px;">Biểu đồ kẻ đường thô, đường sản xuất, đường đóng bao</h4>
                                        <div id="chart_line" style="margin:0 auto;"></div>
                                    </div>
                                    <div class="col-12 col-lg-12 col-sm-12" style="margin-top:20px; overflow-x:auto; overflow-y:hidden">
                                        <h4 style="text-align:center;">Biểu đồ cột đường thô, đường sản xuất, đường đóng bao</h4>
                                        <div id="chart_div"></div>
                                    </div>
                                    @*<div class="col-12 col-lg-12 col-sm-12" style="margin-top:20px;">
                                        <h4 style="text-align:center;">Biểu đồ sóng đường thô, đường sản xuất, đường đóng bao</h4>
                                        <div id="chart_interval"></div>
                                    </div>*@
                                </div>
                            </div>
                        </div>

                        <!--begin: Code-->

                        <div class="example-code mt-10">
                            <div class="example-highlight">
                            </div>
                        </div>
                        <!--end: Code-->
                    </form>
                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
</body>
</html>
