<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My First Page</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web Demo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MFF" asp-action="Index">MFFs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - My First Page
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)



    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="login">
                        <form asp-action="Login" asp-controller="Account" data-ajax="true" data-ajax-method="POST"
                              data-ajax-mode="replace"
                              data-ajax-update="#ajaxresult">

                            <input name="UserName" type="text" class="user active" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}" />
                            <input name="Password" type="password" class="lock active" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" />

                            <div class="forgot">
                                <div class="login-check">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked><i> </i> Ghi nhớ</label>

                                </div>
                                <div class="login-para">
                                    <p><a href="#"> Quên mật khẩu? </a></p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="login-bwn">
                                <input type="submit" value="Đăng nhập" />
                            </div>
                            <div id="ajaxresult">
                                asss @*@await Html.ParialAsync("_partialAjaxForm")*@
                            </div>
                        </form>
                        <div class="login-bottom">
                            <h3>Đăng nhập</h3>
                            <p>với mạng xã hội</p>
                            <div class="social-icons">
                                <div class="button">
                                    <a class="zl" href="#">
                                        <img src="https://image.flaticon.com/icons/png/32/906/906382.png" /><span>Zalo</span>
                                        <div class="clear"> </div>
                                    </a>
                                    <a class="fa" href="#">
                                        <img src="https://image.flaticon.com/icons/png/32/2111/2111398.png" /><span>Facebook</span>
                                        <div class="clear"> </div>
                                    </a>
                                    <a class="go" href="#">
                                        <img src="https://image.flaticon.com/icons/png/32/179/179326.png" /><span>Google</span>
                                        <div class="clear"> </div>
                                    </a>
                                    <div class="clear"> </div>
                                </div>
                                <h4>Chưa có tài khoản? <a href="#"> Đăng ký</a></h4>
                                <div class="reg-bwn"><a href="#">Đăng ký</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="registModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Đăng ký </h4>
                </div>
                <div class="modal-body">
                    <div class="register">
                        <form>
                            <input type="text" class="user active" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}" />
                            <input type="password" class="lock active" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" />
                        </form>
                        <div class="login-bwn">
                            <input type="submit" value="Log in" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
