
@{
    Layout = "_Template3";
}

<div class="container-fluid container-fullw">
    <section class="ng-scope">
        <div class="row">
            <div class="col-sm-8">
                <h5 class= "text-red mainTitle ng-scope subheader py-2 py-lg-6 subheader-transparent">Nhập số liệu / Phòng kiểm nghiệm /  Nhập số liệu báo cáo / Kết quả phân tích các bồn chế phẩm</h5>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 space20">
                    <a class="btn btn-green" href="./Add">
                        Add New <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="table table-responsive">
                <table class="table table-striped table-hover" id="sample_2">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>STT</th>
                            <th>Công ty</th>
                            <th>Ngày</th>
                            <th>Bồn N.ngot nhỏ</th>
                            <th>Bồn mật luyện</th>
                            <th>Bồn RO1</th>
                            <th>Bồn RO2</th>
                            <th>Nồi luyện 1</th>
                            <th>Nồi luyện 2</th>
                            <th>Nồi luyện 3</th>
                            <th>Đường hoa tan</th>
                            <th>Bồn HT đường vụn</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#" class="edit-row" title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row" title="Delete">
                                    <i class="fa fa-times fa fa-white"></i>
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="edit-row">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row">
                                    Delete
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="edit-row">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row">
                                    Delete
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="edit-row">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row">
                                    Delete
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="edit-row">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row">
                                    Delete
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="edit-row">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row">
                                    Delete
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="edit-row">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row">
                                    Delete
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="edit-row">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete-row">
                                    Delete
                                </a>
                            </td>
                            <td>1</td>
                            <td>TTCS</td>
                            <td>15/04/2018</td>
                            <td class="dxgv" align="right">74.58</td>
                            <td class="dxgv" align="right">99.00</td>
                            <td class="dxgv" align="right">73.89</td>
                            <td class="dxgv" align="right">98.00</td>
                            <td class="dxgv" align="right">73.50</td>
                            <td class="dxgv" align="right">98.40</td>
                            <td class="dxgv" align="right">90.11</td>
                            <td class="dxgv" align="right">99.36</td>
                            <td class="dxgv" align="right">90.43</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
